header {
    background-color: black;
    height: 12em;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 50px;
}

header p {
    font-size: 3em;
    padding-top: 30px;
    padding-right: 170px;
}